* {
  box-sizing: border-box;
}

h3 {
  background-color: orange;
  text-align: center;
}

h4 {
  background-color: red;
  text-align: right;
  display: inline-block;
}

a {
  background-color: aqua;
  width: 300px;
  height: 300px;
}

#a {
  display: none;
}
h3:hover {
  display: none;
}
