.calculator {
  width: 350px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 8px;
}

.expressionInput,
.resultInput {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

.btn:active {
  background-color: #3e8941;
}
