.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin btn($bcColor, $width, $height) {
  border: none;
  width: $width;
  height: $height;
  margin: 20px;
  color: white;
  background-color: $bcColor;
}

.enterBtn {
  @include btn(green, 30px, 60px);
  &:hover {
    background-color: rgb(3, 147, 3);
  }
  &:active {
    background-color: green;
  }
}

.leaveBtn {
  @include btn(rgb(173, 0, 0), 60px, 30px);
  &:hover {
    background-color: rgb(196, 0, 0);
  }
  &:active {
    background-color: rgb(173, 0, 0);
  }
}
.leaveBtn2 {
  @include btn(rgb(173, 0, 0), 160px, 130px);
}
.enterBtn2 {
  @include btn(green, 230px, 20px);
}
