.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
%btn {
  border: none;
  width: 100px;
  height: 35px;
  margin: 20px;
  color: white;
}

.enterBtn {
  @extend %btn;
  background-color: green;
  &:hover {
    background-color: rgb(3, 147, 3);
  }
  &:active {
    background-color: green;
  }
}

.leaveBtn {
  @extend %btn;
  background-color: rgb(173, 0, 0);
  &:hover {
    background-color: rgb(196, 0, 0);
  }
  &:active {
    background-color: rgb(173, 0, 0);
  }
}
.leaveBtn2 {
  @extend %btn;
  background-color: rgb(173, 0, 0);
}
.enterBtn2 {
  @extend %btn;
  background-color: green;
}
