* {
  text-align: center;
}
h1 {
  text-decoration: solid underline;
}
h1:hover {
  text-shadow: 5px 5px 4px gray;
}
p {
  padding: 50px 200px;
  letter-spacing: 3px;
  line-height: 2;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  font-style: italic;
}

p::first-letter {
  font-size: 40px;
  color: red;
  background-color: black;
}