div {
  display: flex;
  background-color: darkred;
  padding: 200px;
  align-items: center;
  justify-content: center;
}

section {
  padding: 200px;
  background-color: darkorange;
}

button {
  width: 140px;
  height: 60px;
}
