.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  margin-right: 30px;
}

.button {
  width: 100px;
  height: 30px;
  border-radius: 12px;
  border: none;
  margin: 0px 10px;
}

.button--search {
  color: white;
  background-color: green;
}

.button--cancel {
  color: white;
  background-color: red;
}
