* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
  margin: 0px 20px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #aaa;
  padding: 60px;
  margin-bottom: 20px;
}
ul {
  display: flex;
}

button {
  display: none;
}
main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.box {
  width: 500px;
  height: 500px;

  margin: 50px 10px;
}
.box:nth-child(1) {
  background-color: red;
}
.box:nth-child(2) {
  background-color: BLUE;
}
.box:nth-child(3) {
  background-color: green;
}
.box:nth-child(4) {
  background-color: yellow;
}
@media screen and (max-width: 768px) {
  button {
    display: block;
  }
  ul {
    display: none;
  }
}
/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more — 4k, TV */

/* ! Mobile First Development */
@media screen and (min-width: 320px) {
  main {
    justify-content: center;
  }
  .box {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 480px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
  main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .box {
    width: 500px;
    height: 500px;

    margin: 50px 10px;
  }
}
