.logo {
  font-size: 60px;
  text-decoration: none;
}
.header__logo {
  color: red;
}

.header {
  display: flex;
  justify-content: center;
}

.button {
  width: 100px;
  height: 30px;
  margin: 10px;
  border: none;
}

.button--submit {
  color: black;
  background-color: lawngreen;
}
.button--cancel {
  color: white;
  background-color: red;
}
.footer {
  display: flex;
  justify-content: center;
}
.footer__logo {
  color: green;
}
