:root {
  --background-C: #202124;
  --main-text-color: #e8eaed;
  --input-border: #5f6367;
  --button-background: #303134;
  --footer-background: #171717;
  --footer-text: #bdc1c6;
}
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--background-C);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
}
li {
  list-style: none;
}
a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  padding: 15px 0 100px;
}
header ul {
  display: flex;
  align-items: center;
}

header ul li a {
  margin: 0 10px;
  text-decoration: none;
  color: var(--main-text-color);
}
#left-header {
  color: var(--footer-text);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
main img {
  margin: 60px 0;
}

input {
  border-radius: 25px;
  border: 2px solid var(--input-border);
  height: 50px;
  width: 650px;
  margin-bottom: 30px;
  background-color: var(--background-C);
  color: var(--main-text-color);
}
button {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 3px;
  margin-left: 5px;
  background-color: var(--button-background);
  color: var(--main-text-color);
}
button:hover {
  border: 2px solid var(--input-border);
}
footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--footer-background);
  padding: 20px 10px;
}

#left-footer {
  display: flex;
  justify-content: flex-start;
  min-width: 30%;
}
#footer-middle {
  display: flex;
}
#right-footer {
  display: flex;
  justify-content: flex-end;
  min-width: 30%;
}
footer ul li a {
  text-decoration: none;
  color: var(--footer-text);
  margin: 0 10px;
}

footer p {
  color: var(--footer-text);
}
footer div img {
  height: 14px;
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  main img {
    width: 270px;
    height: 75px;
  }
  input {
    width: 450px;
    height: 30px;
  }
  #footer-middle {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  main img {
    width: 200px;
    height: 50px;
  }
  input {
    width: 250px;
    height: 20px;
  }
  main div {
    display: flex;
  }
  button {
    width: 100px;
    height: 30px;
    font-size: 12px;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  #left-footer {
    margin-bottom: 40px;
  }
}
